<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.BatchMapper">

    <select id="getBatchDetail" resultType="com.zeroone.star.project.dto.j2.store.BatchDetailDTO"
            parameterType="com.zeroone.star.project.query.j2.store.BatchDetailQuery">
        SELECT
        ir.time AS time,  -- 操作时间
        ib.type AS type,  -- 单据类型
        CASE 
            WHEN ib.type = 'entry' THEN (SELECT number FROM is_entry WHERE id = ib.class)
            WHEN ib.type = 'extry' THEN (SELECT number FROM is_extry WHERE id = ib.class)
            WHEN ib.type = 'swap' THEN (SELECT number FROM is_swap WHERE id = ib.class)
            WHEN ib.type = 'sell' THEN (SELECT number FROM is_sell WHERE id = ib.class)
            WHEN ib.type = 'sre' THEN (SELECT number FROM is_sre WHERE id = ib.class)
            WHEN ib.type = 'buy' THEN (SELECT number FROM is_buy WHERE id = ib.class)
            WHEN ib.type = 'bre' THEN (SELECT number FROM is_bre WHERE id = ib.class)
            ELSE ''
        END AS number,  -- 单据编号
        ib.direction AS info,  -- 操作类型（BatchDetailDTO的info字段）
        ib.nums AS nums  -- 操作数量
        FROM
        is_batch_info ib
        LEFT JOIN
        is_record ir ON ib.type = ir.type AND ib.class = ir.source
        WHERE
        ib.id IS NOT NULL -- 使用is_batch_info的id作为基础条件
        <!-- 批次ID条件已移除，因为BatchDetailQuery中没有batch字段 -->
        -- 单据类型条件
        <if test="type != null and type.size() > 0">
            AND ib.type IN
            <foreach collection="type" item="typeValue" open="(" close=")" separator=",">
                #{typeValue}
            </foreach>
        </if>
        -- 时间范围条件
        <if test="startTime != null">
            AND ir.time >= #{startTime}
        </if>
        <if test="endTime != null">
            AND ir.time &lt;= #{endTime}
        </if>
        -- 单据编号条件
        <if test="number != null and number != ''">
            AND (
            -- 入库单
            (ib.type = 'entry' AND ib.class IN (SELECT id FROM is_entry WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 销售单
            (ib.type = 'sell' AND ib.class IN (SELECT id FROM is_sell WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 采购单
            (ib.type = 'buy' AND ib.class IN (SELECT id FROM is_buy WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 销售退货单
            (ib.type = 'sre' AND ib.class IN (SELECT id FROM is_sre WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 采购退货单
            (ib.type = 'bre' AND ib.class IN (SELECT id FROM is_bre WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 调拨单
            (ib.type = 'swap' AND ib.class IN (SELECT id FROM is_swap WHERE number LIKE CONCAT('%', #{number}, '%')))
            )
        </if>
        -- 分页处理
        <if test="pageIndex != null and pageSize != null">
            LIMIT #{pageSize} OFFSET #{(pageIndex - 1) * pageSize}
        </if>
    </select>
    
    <!-- 获取批次详情数据总数 -->
    <select id="getBatchDetailCount" resultType="java.lang.Long"
            parameterType="com.zeroone.star.project.query.j2.store.BatchDetailQuery">
        SELECT COUNT(1)
        FROM
        is_batch_info ib
        LEFT JOIN
        is_record ir ON ib.type = ir.type AND ib.class = ir.source
        WHERE
        ib.id IS NOT NULL -- 使用is_batch_info的id作为基础条件
        <!-- 批次ID条件已移除，因为BatchDetailQuery中没有batch字段 -->
        -- 单据类型条件
        <if test="type != null and type.size() > 0">
            AND ib.type IN
            <foreach collection="type" item="typeValue" open="(" close=")" separator=",">
                #{typeValue}
            </foreach>
        </if>
        -- 时间范围条件
        <if test="startTime != null">
            AND ir.time >= #{startTime}
        </if>
        <if test="endTime != null">
            AND ir.time &lt;= #{endTime}
        </if>
        -- 单据编号条件
        <if test="number != null and number != ''">
            AND (
            -- 入库单
            (ib.type = 'entry' AND ib.class IN (SELECT id FROM is_entry WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 销售单
            (ib.type = 'sell' AND ib.class IN (SELECT id FROM is_sell WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 采购单
            (ib.type = 'buy' AND ib.class IN (SELECT id FROM is_buy WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 销售退货单
            (ib.type = 'sre' AND ib.class IN (SELECT id FROM is_sre WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 采购退货单
            (ib.type = 'bre' AND ib.class IN (SELECT id FROM is_bre WHERE number LIKE CONCAT('%', #{number}, '%'))) OR
            -- 调拨单
            (ib.type = 'swap' AND ib.class IN (SELECT id FROM is_swap WHERE number LIKE CONCAT('%', #{number}, '%')))
            )
        </if>
    </select>
</mapper>