<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.OtherInInfoMapper">


    <insert id="insertBatch">
        insert into is_entry_info (id,pid, goods, attr, unit, warehouse, batch, mfd, price, nums, total, data,serial) values
        <foreach collection="entryInfoList" item="item" separator=",">
            (#{item.id},#{item.pid}, #{item.goods}, #{item.attr}, #{item.unit}, #{item.warehouse}, #{item.batch}, UNIX_TIMESTAMP(#{item.mfd}), #{item.price}, #{item.nums}, #{item.total}, #{item.data},'1')
        </foreach>
    </insert>

    <delete id="deleteById">
        delete from is_entry_info where id = #{id}
    </delete>
    <select id="selectBatchIds" resultType="com.zeroone.star.storemanagement.entity.EntryInfoDO">
        select id,pid, goods, attr, unit, warehouse, batch, FROM_UNIXTIME(mfd/1000) as mfd, price, nums, total, data from is_entry_info where id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="getByIds" resultType="com.zeroone.star.storemanagement.entity.EntryInfoDO">
        select id,pid, goods, attr, unit, warehouse, batch, FROM_UNIXTIME(mfd/1000) as mfd, price, nums, total, data from is_entry_info where id in
        <foreach item="item" collection="ids" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="getByPids" resultType="com.zeroone.star.storemanagement.entity.EntryInfoDO">
        select id,pid, goods, attr, unit, warehouse, batch, FROM_UNIXTIME(mfd/1000) as mfd, price, nums, total, data from is_entry_info where pid in
        <foreach item="item" collection="pids" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
