<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.OtherOutInfoMapper">

<select id="selectByMainIds" resultType="com.zeroone.star.storemanagement.entity.ExtryInfoDO">
    SELECT * FROM entry_info WHERE id IN
    <foreach collection="mainIds" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
</select>
    <insert id="insertBatch" parameterType="com.zeroone.star.storemanagement.entity.ExtryInfoDO">
        INSERT INTO extry_info (
            id,pid,goods, attr, unit, warehouse,
            batch, mfd, price, nums, serial,
            total, data
        ) VALUES
        <foreach collection="extryInfoList" item="item" separator=",">
            (#{item.id},#{item.pid}, #{item.goods}, #{item.attr}, #{item.unit}, #{item.warehouse}, #{item.batch}, #{item.mfd}, #{item.price}, #{item.nums}, #{item.serial}, #{item.total}, #{item.data})
        </foreach>
    </insert>
</mapper>