<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.SwapMapper">
    <update id="updateSwap">
        UPDATE is_swap
        <set>
            <if test="swap.time != null">time = 1761840000,</if>
            <if test="swap.number != null and swap.number != ''">number = #{swap.number},</if>
            <if test="swap.total != null">total = #{swap.total},</if>
            <if test="swap.cost != null">cost = #{swap.cost},</if>
            <if test="swap.people != null and swap.people != ''">people = #{swap.people},</if>
            <if test="swap.logistics != null and swap.logistics != ''">logistics = #{swap.logistics},</if>
            <if test="swap.file != null and swap.file != ''">file = #{swap.file},</if>
            <if test="swap.data != null and swap.data != ''">data = #{swap.data},</if>
        </set>
        WHERE id = #{swap.id}
    </update>

    <update id="auditBatchStatus">
        UPDATE is_swap
        SET examine = #{operation}
        WHERE id IN
        <foreach collection="pidList" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </update>

    <delete id="deleteBatchIds">
        DELETE FROM is_swap
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
              #{id}
        </foreach>
    </delete>

    <select id="getTransferListDTOList"
            resultType="com.zeroone.star.project.dto.j2.store.TransferListDTO">
        select id,frame, time, number, total, cost, people, examine, cse, user, data
        from is_swap
        where id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>