<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.SwapMapper">
    <select id="getTransferListDTO" resultType="com.zeroone.star.project.dto.j2.store.TransferListDTO">
        select name,time,number,total,cost,people,examine,cse,user,data from swap where id = #{id}
    </select>
</mapper>